# Note! it is important to install torch according the official guidelines
torch

pytorch_lightning
torchvision
numpy
pandas
scikit-learn
lightning_lite
wandb
openpyxl

# Note! start by running the following commands:
# sudo apt-get install openslide-tools
# sudo apt-get install python-openslide
openslide-python